@media (prefers-color-scheme: light) {
  :root {
    --background: #fffff8;
    --body-text: #111111;
    --disclaimerColour:#4D4D4D;
    --green: #006600;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --body-text: #e6e6e6;
  }
}

