@media (prefers-color-scheme: light) {
  :root {
    --background: #fffff8;
    --body-text: #111;
    --header-text: #111;
    --disclaimerColour: #8a8d91;
    --green: #ACAF50;
    --hyperlink: #111;
    --nav-background: #b7bfc5;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --body-text: #e1e1e1;
    --header-text: #F8F8FF;
    --disclaimerColour: #a6a6a6;
    --green: #4CAF50;
    --hyperlink: #e94e77;
  }
}
