.prose-page {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  max-width: 1400px;
  counter-reset: sidenote-counter;

  article {
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

  section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  h1 {
    padding-top: 5rem;
  }

  h2, h3 {
  }

  p,
  table {
    width: 55%;
  }

  dd,
  ol,
  ul,
  blockquote {
    width: 50%;
    -webkit-padding-start: 5%;
    padding-inline-start: 5%;
  }

  blockquote {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  blockquote p {
    width: 95%;
  }

  blockquote footer {
    text-align: right !important;
  }

  dt:not(:first-child),
  li:not(:first-child) {
    margin-top: 0.25rem;
  }

  figure {
    padding: 0;
    border: 0;
    vertical-align: baseline;
    max-width: 55%;
  }

  figcaption {
    text-align: center;
    vertical-align: baseline;
    position: relative;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    max-width: 100%;
  }

  .sidenote,
  .marginnote {
    float: right;
    clear: right;
    margin-right: -75%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: baseline;
    position: relative;
  }

  .marginnote-ind,
  .sidenote-number {
    font-family: et-book-roman-old-style, "Noto Emoji";
    font-weight: bold;
    position: relative;
    vertical-align: top;
    user-select: none;
  }

  input.margin-toggle {
    display: none;
  }

  label.marginnote-ind,
  label.sidenote-number {
    top: 0rem;
    display: inline;
  }

  blockquote .sidenote,
  blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
  }

  div.full-width,
  table.full-width,
  code {
    width: 100%;
  }

  div.table-wrapper {
    ovetflow-x: autp;
  }

  code, pre > code {
    -webkit-text-size-adjust: 100%;
  }

  pre.full-width > code {
    width: 90%;
  }

  .full-width {
    max-width: 90%;
    clear: both;
  }
}



@media (max-width: 1300px) {
  .prose-page {
    width: 95%;
    padding-left: 5%;

    h1, h2, h3 {
      width: 100%;
    }
  }
}

@media (max-width: 1000px) {
  .prose-page {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;

    hr,
    p,
    footer,
    table {
      width: 100%;
    }

    pre > code {
      width: 97%
    }

    dd,
    ol,
    ul,
    blockquote {
      width: 90%;
    }

    figure {
      max-width: 100%;
    }

    figcaption,
    figure.fullwidth figcaption {
      margin-right: 0%;
      max-width: none;
    }

    blockquote {
      margin-left: 1.5em;
      margin-right: 0em;
    }

    blockquote p,
    blockquote footer {
      width: 100%;
    }

    label.marginnote-ind,
    label.sidenote-number,
    .sidenote,
    .margin-toggle,
    .marginnote {
      display: none;
    }


    img {
      width: 100%;
    }
  }
}

@media (max-width: 900px) {
  .prose-page {
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (max-width: 800px) {
  .prose-page {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
