@use "functions" as *;
@use "fonts" as *;
@mixin font-header {

}

@mixin normal-text {
  font-size: #{fluid(16px, 19px)};
}

@mixin small-text {
  font-size: #{fluid(12px, 14px)};
  line-height: 1.4;
}

$line-height-heading: 1.2;

h2, h3 {
  font-weight: bold;
  line-height: #{$line-height-heading};
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: var(--header-text);
}

h1 {
  font-size: #{fluid(24px, 40px)};
  margin-top: 3rem;
  font-family: var(--header-font);
  font-weight: normal;
}

h2 {
  font-size: #{fluid(20.9659px, 26.6983px)};
  margin-top: 2.5rem;
}

h3 {
  font-size: #{fluid(18.3154px, 21.9219px)};
  margin-top: 2rem;
}

p, blockquote, del, dfn, q, dl, dt, dd, ol, ul, li, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  @include normal-text;
}

p {
  word-spacing: -0.05em;
}

.prose {
  p + p {
    text-indent: 0.5in;
  }

  p:has(+ p) {
    margin-bottom: 0;
  }
}
strong, dt {
  font-weight: bold;
  color: var(--header-text);
}

em, blockquote, cite {
  font-style: italic;
}

a {
  color: var(--hyperlink);

  &:hover {
    text-decoration: underline;
  }
}

.external {
  text-decoration: dotted;
}

blockquote {
  font-style: italic;
  margin: 1.5rem 0;
  padding-left: 1rem;
  // maybe add a border, we'll see.
}

ul, ol {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

section {
  margin-bottom: 3rem;
}

figure {
  text-align: center;
}

figcaption {
  @include small-text;
}
